.game-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

.color-div {
  width: 200px;
  height: 150px;
  /* background-color: azure; */
}

.buttons-div {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.button {
  font-size: 16px;
  padding: 8px 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.wrong {
  font-size: 22px;
  color: red;
}

.correct {
  font-size: 22px;
  color: green;
}

.answear-message {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 600;
  color: whitesmoke;
}